/* 
    Document   : gaya
    Created on : Oct 8, 2012, 11:57:57 AM
    Author     : Manellen
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

@font-face {
    font-family: 'Coda Caption';
    font-style: normal;
    font-weight: 800;
    src: local('Coda Caption Heavy'), local('CodaCaption-Heavy'), url(../fonts/YDl6urZh-DUFhiMBTgAnz2pVmE9oLybi4D_AN-2K110.woff) format('woff');
}

img, object, embed, video {
    max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width: 100%;
}

body {
    font-family: 'Coda Caption', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Coda Caption', sans-serif;
    color: #8f3f63;
}

p, a, label {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #544F3A;
}



/* Mobile Layout: 480px and below. */
.gridContainer{
    margin-left: auto;
    margin-right: auto;
    width: 88.626%;
    padding-left: 1.1869%;
    padding-right: 1.1869%;
    background-color:#FFF;
}
#sideAds-leftContainer, #sideAds-rightContainer{
    display: none;
}
#slider{
    display: none;
}
#home{
    background-color: transparent;
}
#wrap{
    background-color: transparent;
}
#container{
    background-color: transparent;
}
#container-x{
    background-color: red;
}
#main{
    background-color: transparent;
}
#header{
    background-color: transparent;
}
#body {
    background-color: blue;
}
#title{
    display: none;
}
#boxes{
    display: none;
}
/*Start Navigation*/
#nav {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    background-color:#e8eace;
    text-align:center;
}
#nav ul {
    list-style-type:none;
    margin:0;
    padding:0;	
}
#nav ul li {
    border-bottom:1px solid silver;
    background-color:#e8eace;
    letter-spacing:2px;
}
#nav ul li.selected {
    color:#993064;
}
#nav ul li.selected a {
    color:#993064;
}
#nav ul li a {
    color:#565656;
    text-decoration:none;
}
#nav ul li a:hover {
    color:#993064;
    text-decoration:underline;
}
/*End Navigation*/
/*Start Slogan*/
#slogan {
    clear: both;
    float: left;
    margin-left: 0;
    width: 100%;
    display: block;
    background: url('../images/rbg.jpg') repeat;
    text-align:center;
}
#slogan h1{
    font-size: 24px;
}
/*End Slogan*/

/*Start Content*/
#content{
    clear: both;
    float: left;
    margin-left: 0;
    width: 96%;
    display: block;
    background: url('../images/rbg.jpg') repeat;
    display: block;
    color: #544F3A;
    text-align:left;
    padding:2%;
}
#content h4 {
    font-family: Verdana, sans-serif;
    color: #2f2d29;
}
#content p {
    font-family: Verdana, sans-serif;
    color: #544f3a;
}
#content a {
    color: #6b621a;
}
#content a:hover {
    color: #8f3f63;
}
#content img{
    display: block;
    margin: 0 auto;
    /*margin:auto;*/
}
#three-column1, #three-column2{
    clear: none;
    float: left;
    width: 100%;
    display: block;
    padding: 5% 2%;
}
#three-column3{
    clear: none;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
}
#recaptcha_image img {
    margin-top: 15px !important;
/*    margin-top: 90px;*/
    width: 175px;
    float: left;
}
.input-captcha{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
/*End Content*/

/*Start Footer*/
#footer{
    clear: both;
    float: left;
    margin: 0 auto;
    width: 96%;
    display: block;
    background: #0d0b06 repeat;
    padding: 2%;
    text-align:center;
}
#footer a {
    color: #acc2cc;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
#footer a:hover {
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
#footer p.copyright {
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
#footer #menu-footer {
    clear:both;
    color: #acc2cc;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    text-decoration: none;/*        margin-left: -40px;*/
}
#footer #menu-footer ul {
    color: #acc2cc;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#footer #menu-footer ul li {
    color: #acc2cc;
    display: inline;
    margin: 0 5px 0 0;
    font-weight: bold;
}
#footer #lang {
    float:none;
    color: #acc2cc;
    text-align:center;
    margin:auto
}
#footer #lang p {
    display:none;
}
#footer #lang img {
    display:block;
    margin:0;
    padding:0;
}
#footer #lang ul {
    margin: 0;
    padding: 0;
}
#footer #lang ul li {
    display: inline-table;
    text-decoration: none;
    padding: 0 2px;
}
/*End Footer*/

/*Start oursport*/
.clear{
    clear:both;
    width:100%;
}
/*#content > div {
    float: none;
}*/
#galleries {
    position: relative;
    width:100%;
    height: 1024px;
/*    margin: 0 5px;*/
    margin: 0 auto;
}
.gallery{
/*    position: absolute;*/
    display: none;
}
.gallery img{
    width: 100%;
}
.gallery > div{
/*    position:absolute;*/
/*    background-color:#9F0;*/
    height:170px;

}
.gallery > div > img{
    position:absolute;
    border: none;
}
.gallery > div > .caption{
/*    background-color:#ccc;*/
    color:#ffffff;
    height:30px;
/*    width:100%;*/
/*    position:absolute;*/
/*    bottom:0;*/
/*    z-index:600;*/
/*    text-decoration:none;*/
/*    text-align:right;*/
}
#tabs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
/*    width: 220px;*/
    width: 100%;
/*    background-color: red;*/
    text-align: center;
}
#tabs ul li{
    color: #666666;
/*    padding: 0 0 0 13px;*/
    padding: 0 0 0 0;
}
#tabs ul li a{
    /*    background: url('../images/bg_tv_01.gif') repeat-y scroll 0 0 transparent;*/
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #FFFFFF;
    color: #797979;
    /*
    display: block;
    height: 44px;
    overflow: hidden;
    padding: 5px 10px 3px 20px;
    */
    text-decoration: none;
    width: 180px;
    vertical-align: middle;
    cursor:pointer;
    margin: 0 auto;
    padding: 0;
}
#tabs ul li a span{
    margin:auto;
}
#tabs ul li.selected a{
/*    background: url('../images/bg_tv_02.gif') repeat-y scroll 0 0 transparent;*/
    color: #000000;
}
/*End oursport*/






/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
    .gridContainer{
        width: 91.4836%;
        padding-left: 0.7581%;
        padding-right: 0.7581%;
    }    
    #sideAds-leftContainer, #sideAds-rightContainer{
        display: none;
    }
    #three-column1, #three-column2{
        clear: none;
        float: left;
        margin-left: 0;
        width: 45%;
        display: block;
        padding: 0 2%;
    }
    #three-column3{
        clear: none;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    #body {
        clear: both;
        float: left;
        margin-left: 0;
        width: 100%;
        display: block;
    }
}




/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
    .gridContainer{
        width: 100%;
        max-width: 1299px;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0 auto;
    }
    #boxes{
        display: block;
    }
    /*---------- Start Homepage ----------*/
    #wrap{
        background: url('../images/wrap.jpg') repeat top;
        height: 335px;
    }
    #home #container{
        width: 1299px;
        padding: 0;
        margin: 0 auto;
        background: url('../images/bg-home.jpg') no-repeat;
        background-position: center top;
        height: 741px;
        position: relative;
    }
    #home #container #main{
        width: 938px;
        padding: 0;
        margin: 0 auto;
        float: left;
    }   
/*    Start Side Ads*/
    #sideAds-leftContainer, #sideAds-rightContainer{
        float: left;
        width: 178px;
        z-index: -1;
        display: block;
    }
    #sideAds-home1, #sideAds-home3{
        float: left;
        position: relative;
        width: 178px;
        height: 470px;
    }
    #sideAds-home1 img, #sideAds-home3 img{
        width: 178px;
        height: 470px;
        z-index: -1;
    }
/*    #sideAds-home3 img{
        margin-left: 5px;
        padding-left: 5px;
    }*/
    #sideAds-home2, #sideAds-home4{
        float: left;
        position: relative;
        width: 178px;
        height: 470px;
    }
    #sideAds-home2 img, #sideAds-home4 img{
        width: 178px;
        height: 470px;
        z-index: -1;
    }
/*    End Side Ads*/
    #home #header{
        position:relative;
        width: 938px;
        height: 648px; /* 741px; */
        padding-left: 0px;
        padding-top: 93px;
        float: left;
        background-repeat: no-repeat;
/*        left: 181px;*/
    }
    #header #nav ul{
        position: absolute;
        top: 42px;
        right:4px;
        list-style:none;
        margin: 0;
        padding: 0;
        padding: 10px 5px 5px 5px;
    }
    #header #nav ul li{
        display: inline;
        width: 6em;
        margin : 0;
        padding: 11px 5px 5px 15px;
        background: url('../images/nav_bg.png') repeat-x 0 0;
/*        Start Handle CSS Mobile & Tablet*/
        letter-spacing: 0px;
        border-bottom: none;
/*        End Handle CSS Mobile & Tablet*/
    }
    #header #nav ul li.selected{
        background: url('../images/nav_selected.png') repeat-x 0 0; 
    }
    #header #nav ul li.selected a{
        color: #993064;
    }
    #header #nav ul li a{
        text-decoration:none; 
        color: #565656;
        font-size:14px;
        font-weight:bold;
    }
    #header #nav ul li a:hover{
        text-decoration:none; 
        color: #993064;
        font-size:14px;
        font-weight:bold;
    }
    #header #clear-slider{
        clear: both;
        margin-top: 35px;
    }
    #header #slider{
        background-color: #a1a19b;
        width: 890px;
        height: 424px;
        padding: 5px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    #header #slogan{
        color: #8f3f63;
        /* Safari */
        -webkit-transform: rotate(-0.5deg);
        /* Firefox */
        -moz-transform: rotate(-0.5deg);
        /* IE */
        -ms-transform: rotate(-0.5deg);
        /* Opera */
        -o-transform: rotate(-0.5deg);
        /*         Internet Explorer 
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);*/
/*        margin-top: 75px;*/
        margin-top: 55px;
        text-align: center;
        background: none;
    }
    #slogan h1{
        font-size: 2em;
    }
    #content{
        clear: none;
        float: left;
        background: url('../images/rbg.jpg') repeat;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 100%;
/*        left: 181px;*/
    }
    
    #content #header{
        
    }
    
    #content h4{
        font-family: Verdana, sans-serif;
        color: #2f2d29;
    }
    #content p{
        font-family: Verdana, sans-serif;
        color: #544f3a;
    }
    #content a{
        color: #6b621a;
    }
    #content a:hover{
        color: #8f3f63;
    }
    #content #three-column1, #three-column2{
        clear: none;
        float: left;
        width: 263px; /*313px;*/
        padding: 25px 25px;
        display: block;
    }
    #content #three-column3{
        clear: none;
        float: left;
        width: 312px;
        background: url('../images/social-network.jpg') no-repeat;
        height: 172px;
        margin-top: 70px;
        text-align: left;
    }
    #content #three-column3 #col3-title{
        margin-left: 50px;
        margin-top: 30px;
        text-align: center;
    }
    #content #three-column3 #col3-title h4{
        /*            color: #eaedd3;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=000000);*/
        color: #8f3f63;
    }
    #content #three-column3 #col3-title a{
        color: #544f3a;
        text-decoration: none;
    }
    #content #three-column3 #col3-title a:hover{
        color: #8f3f63;
        text-decoration: none;
    }
    #content #full-page{
        float: left;
        padding: 25px 25px;
        width: 888px;
    }
    #content #clear-content{
        clear: both;
    }
    #two-column-1, #two-column-2{ float: left; width: 444px; }
    #two-column-1 img{ margin-top: -80px; }
    .two-column-1{ width: 30% !important; }
    .two-column-2{ width: 70% !important; }
    #content label{ clear: both; color: #8f3f63; }
    #content #contact-sidebar{
        float: right;
        background: url('../images/contact-sidebar.jpg');
        width: 271px;
        height: 206px;
        margin-top: -253px;
        margin-right: -23px;
    }
    #content #contact-sidebar h3{ margin: 5px; }
    #content #contact-sidebar p{ margin: 15px 5px; }
    #content #map{
        background: url('../images/contact-map.jpg');
        width: 624px; 
        height: 253px;
        margin-top: -8%;
    }
    #content input{ width: 161px; border: 1px solid #8f3f63; color: #8f3f63; padding: 5px; }
    #content #form-col1, #form-col2{ float: left; width: 205px; }
    #content #recaptcha{ padding: 25px; }
    #content textarea{ width: 400px; height: 150px; border: 1px solid #8f3f63; padding: 5px; font-family: Tahoma, sans-serif; color: #8f3f63; }
    /*---------- End Homepage ----------*/

    /*---------- Start Logo ----------*/
    #header #logo{
        position: absolute;
        top: 38px; /*38px;*/
        left: 36px; /*33px; */
    }
    #header #logo .logo{
        background: url('../images/logo-hover.png') bottom;
        display: block;
        width: 174px;
        height: 51px;
    }
    #header #logo .logo:hover{
        background: url('../images/logo.png') bottom;
        display: block;
        width: 174px;
        height: 51px;
    }
    /*---------- End Logo ----------*/
    
    /*---------- Start Footer ----------*/
    #pfooter{
        clear:both;
        float:none;
        margin:auto;
        background: url('../images/miring.jpg') no-repeat;
        width: 938px;
        height: 20px;
        display: block;
        position: relative;
/*        left: 181px;*/
    }
    #footer {
        clear: both;
        float: none;
        margin: auto;
        /*width: 72%;*/
        width: 70%;
        display: block;
        background: #0d0b06 repeat;
        padding: 1%;
        color: #fff;
        text-align:justify;
        padding: 10px;
        width: 918px;
        position: relative;
/*        left: 181px;*/
    }
    #footer a {
        color: #acc2cc;
        font-family: Verdana, sans-serif;
        font-size: 12px;
    }
    #footer a:hover {
        color: #fff;
        font-family: Verdana, sans-serif;
        font-size: 12px;
    }
    #footer p.copyright {
        color: #fff;
        font-family: Verdana, sans-serif;
        font-size: 12px;
    }
    #footer #menu-footer {
        color: #acc2cc;
        font-family: Verdana, sans-serif;
        font-size: 10px;
        text-decoration: none;/*        margin-left: -40px;*/
    }
    #footer #menu-footer ul {
        color: #acc2cc;
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    #footer #menu-footer ul li {
        color: #acc2cc;
        display: inline;
        margin : 0 5px 0 0;
        font-weight: bold;
    }
    #footer #lang {
        position: absolute;
        right : 0;
        padding: 10px;
    }
    #footer #lang p {
        display:inline;
        color: #acc2cc;
    }
    #footer #lang img {
        display:inline-block;
        /*margin:0;
        padding:0;*/
    }
    #footer #lang ul {
        margin: 0;
        padding: 0;
    }
    #footer #lang ul li {
        color: #acc2cc;
        display: inline;
        text-decoration: none;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        padding: 0 2px;
        height: 20px;
        vertical-align: middle;
    }
    /*---------- End Footer ----------*/

    /*---------- Start Error Box ----------*/
    .minfo, .msuccess, .merror{
        border: 1px solid;
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
    }
    .minfo {
        color: #00529B;
        background-color: #BDE5F8;
        background-image: url('../images/info.png');
    }
    .minfo li{
        margin-left: 5px;
        font-family: Verdana, sans-serif;
        color: #544F3A;
    }
    .msuccess {
        color: #4F8A10;
        background-color: #DFF2BF;
        background-image:url('../images/success.png');
    }
    .merror {
        color: #D8000C;
        background-color: #FFBABA;
        background-image: url('../images/error.png');
    }
    /*---------- End Error Box ----------*/
    
    
    
    
    
    /*---------------------------------------*/
    /*---------- Start Other Home ----------*/
    /*-------------------------------------*/
    
    /*---------- Start Homepage ----------*/
    #container-x{
        width: 1299px;
        padding: 0;
        margin: 0 auto;
        background: url('../images/header.jpg') no-repeat;
        background-position: center top;
        height: 741px;
        position: relative;
    }
    #container-x #main-x{
        width: 938px;
        padding: 0;
        margin: 0 auto;
        float: left;
    }
    #container-x #main-x #header-x{
        position:relative;
        width: 938px;
        height: 335px;
        padding-left: 0px;
        float: left;
        background-repeat: no-repeat;
/*        height: 242px;*/
/*        height: 741px;*/
/*        padding-top: 93px;*/
/*        left: 181px;*/
    }
    #header-x #nav ul{
        position: absolute;
        top: 42px;
/*        right:4px;*/
        right: 6px;
        list-style:none;
        margin: 0;
        padding: 0;
        padding: 10px 5px 5px 5px;
    }
    #header-x #nav ul li{
        display: inline;
        width: 6em;
        margin : 0;
        padding: 11px 5px 5px 15px;
        background: url('../images/nav_bg.png') repeat-x 0 0;
/*        Start Handle CSS Mobile & Tablet*/
        letter-spacing: 0px;
        border-bottom: none;
/*        End Handle CSS Mobile & Tablet*/
    }
    #header-x #nav ul li.selected{
        background: url('../images/nav_selected.png') repeat-x 0 0; 
    }
    #header-x #nav ul li.selected a{
        color: #993064;
    }
    #header-x #nav ul li a{
        text-decoration:none; 
        color: #565656;
        font-size:14px;
        font-weight:bold;
    }
    #header-x #nav ul li a:hover{
        text-decoration:none; 
        color: #993064;
        font-size:14px;
        font-weight:bold;
    }
    #header-x #title{
        position: absolute;
        top: 153px;
        right: 0px;
        display: block;
    }
    /*---------- End Homepage ----------*/

    /*---------- Start Logo ----------*/
    #header-x #logo{
        position: absolute;
        top: 38px; /*38px;*/
        left: 34px; /*33px; */
    }
    #header-x #logo .logo{
        background: url('../images/logo-hover.png') bottom;
        display: block;
        width: 174px;
        height: 51px;
    }
    #header-x #logo .logo:hover{
        background: url('../images/logo.png') bottom;
        display: block;
        width: 174px;
        height: 51px;
    }
    /*---------- End Logo ----------*/
    
    #body {
        clear: both;
        float: none;
        width: 100%;
        display: block;
        margin: auto;
        background: url('../images/rbg.jpg') repeat;
        background-color: #ccc;
    }
    
    /* Start our sport */
    .clear{
        clear:both;
        width:100%;
    }
    #content > div {
        float: left;
            
    }
    #galleries {
        position: relative;
        width:600px;
        height: 600px;
        margin: 0 5px;
    }
    .gallery{
        position: absolute;
        display: none;
            
    }
    .gallery > div{
        position:absolute;
        background-color:#9F0;
        height:170px;
            
    }
    .gallery > div > img{
        position:absolute;
        border: none;
    }
    .gallery > div > .caption{
        background-color:#000;
        color:#ffffff;
        height:30px;
        width:100%;
        position:absolute;
        bottom:0;
        z-index:600;
        text-decoration:none;
        text-align:right;
    }
    #tabs ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        width: 220px;
    }
    #tabs ul li{
        color: #666666;
        padding: 0 0 0 13px;	
    }
    #tabs ul li a{
        background: url('../images/bg_tv_01.gif') repeat-y scroll 0 0 transparent;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #FFFFFF;
        color: #797979;
        display: block;
        height: 44px;
        overflow: hidden;
        padding: 5px 10px 3px 20px;
        text-decoration: none;
        width: 180px;
        vertical-align: middle;
        cursor:pointer;
    }
    #tabs ul li a span{
        margin:auto;
    }
    #tabs ul li.selected a
    {
        background: url('../images/bg_tv_02.gif') repeat-y scroll 0 0 transparent;
        color: #000000;
    }
    /* End our sport */
    

    /*-------------------------------------*/
    /*---------- End Other Home ----------*/
    /*-----------------------------------*/
}